html, body{
  overflow-x: hidden!important;
  /*width: 101%;*/
}
h1, h2, h3, h4, h5, h6, {
	font-family: 'HarmoniaSansW01-Bold';
}

p, span,{
  font-family: 'HarmoniaSansW01-Regular';
}


/*Ventana de inicio*/
.gral{position: relative; background-color: black; height: 100vh; min-height: 25rem;width: 100%;overflow: hidden;}

video {position: absolute;top: 50%;left: 50%;min-width: 100%;min-height: 100%;width: auto;height: auto;z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.container {position: relative;z-index: 2;}

.overlay { position: absolute; top: 0; left: 0; height: 100%; width: 100%; background-color: black; opacity: 0.7; z-index: 1;}

.selectbox{background-color: white;border-radius: 5%; min-height: 420px; max-width: 600px;}

.texbox{padding: 3em!important;}

.texbox > .btn{ margin-bottom: 2em;}


@media (max-width: 992px) {
  .selectbox{
    height: 75%!important;
  }
}

@media (max-width: 768px) {
  .btn{ width: 100%!important; }
  .imgbox{margin-top: 2em;}
}
/* Fin de ventana de inicio*/


/* Menu header*/
.nav-item{
  margin: 0 1.3em 0 1.3em;
}

.nav-item a{
   font-family: 'HarmoniaSansW01-Bold';
   color: #23215b!important;
}

.nav-item a:hover{
   color: #487adf!important;
}

.item2{
   font-family: 'HarmoniaSansW01-Regular'!important;
}

/*Fin del header*/



/* PRINCIPAL SLIDER*/  
/*#myCarousel*/

.carousel-inner{ overflow: hidden!important; }
#myCarousel .carousel-item .mask { position: absolute; top: 0; left:0; height:100%; width: 100%; background-attachment: fixed;}
#myCarousel h4{ font-family: 'HarmoniaSansW01-Bold'!important; font-size:40px; margin-bottom:15px; color:#FFF; line-height:100%;letter-spacing:0.5px; font-weight:400;}
#myCarousel p{ font-family: 'HarmoniaSansW01-Regular'!important; font-size:18px; margin-bottom:15px; color:#d5d5d5;}
#myCarousel .carousel-item a{background:#faaf11; font-size:14px; color:#FFF; padding:13px 32px; display:inline-block; }
#myCarousel .carousel-item a:hover{background:#394fa2; text-decoration:none;  }
#myCarousel .carousel-item h4{-webkit-animation-name:fadeInLeft; animation-name:fadeInLeft;} 
#myCarousel .carousel-item p{-webkit-animation-name:slideInRight; animation-name:slideInRight;} 
#myCarousel .carousel-item a{-webkit-animation-name:fadeInUp; animation-name:fadeInUp;}
#myCarousel .carousel-item .mask img{-webkit-animation-name:slideInRight; animation-name:slideInRight; display:block; height:auto; max-width:100%;}
#myCarousel h4, #myCarousel p, #myCarousel a, #myCarousel .carousel-item .mask img{-webkit-animation-duration: 1s; animation-duration: 1.2s; -webkit-animation-fill-mode: both; animation-fill-mode: both;}
.order-2{ text-align: left!important;}
#myCarousel .container {max-width: 1283px;  }
#myCarousel .carousel-item{height:100%; min-height:550px; }
.carousel-item { position: relative; display: none; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 100%; transition: -webkit-transform .6s ease; transition: transform .6s ease; transition: transform .6s ease,-webkit-transform .6s ease; -webkit-backface-visibility: hidden; backface-visibility: hidden; -webkit-perspective: 1000px; perspective: 1000px;}
.carousel-fade .carousel-item { opacity: 0; -webkit-transition-duration: .6s; transition-duration: .6s; -webkit-transition-property: opacity; transition-property: opacity}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

           /* propiedades de las olas que van detras del slider */
@media (max-width: 768px) {
  .solicitar-demo{ max-height: 285px; }
  .carousel{ max-height: 285px;}
  #myCarousel h5 { font-size: 1.5em!important; }
  #myCarousel h4 { font-size: 30px!important; }
  #myCarousel p { font-size: 14px!important; }
  #myCarousel .carousel-item a { padding: 10px 20px!important;}
  .layer{ visibility: hidden!important; }
}

          /* Fin propiedades de las olas que van detras del slider */
/* FIN PRINCIPAL SLIDER*/ 

/* DATAS */

.about_us h2, .about_us span { font-family: 'HarmoniaSansW01-Bold'!important; font-weight: 300;}
.about_us p{ font-size: 1.5em!important; }

.ym{ color: #faaf11; }
.ea{display: inline-block; color: #ec008b;}
.paises{color: #39c38d;}
.ia{ color: #3b5bdb; }

.better{ background-color: #c2e8f6; overflow: hidden;}
.better-content{ max-width: 1480px; position: relative; margin: 0 auto;}
.better-layer{width: 180%;}
.bettext{ padding: 9% 0%; color: #23215b; font-family: 'HarmoniaSansW01-Bold';  margin: 0 auto;}
.bettext p{font-size: 1.4em; font-family: 'HarmoniaSansW01-Regular'!important;}
.layer img{ width: 100%!important; }
#img2{margin-left: 50px;}

@media (max-width: 768px) { 
     #better1{width: 100%; position: relative; top: 0; padding: 0 5%;}
     .better-layer {display: none!important;}
     #better2{width: 100%;     padding: 0 5%;}
     #scene{ padding-left: 0px!important; }
     #img2{display: none!important;}
 }

/* FIN DATAS */


/*SOLUCIONES */

.solutxt{ padding: 3% 3% 0% 3%; color: #23215b; text-align: center; z-index: 5500 }
.solutxt h3{ margin-top: 2%; color: #4fbfe6; font-size: 2.5em; font-family: 'HarmoniaSansW01-Bold'; }
.solutxt p{ font-size: 1.2em; font-family: 'HarmoniaSansW01-Regular';}
.skill-content{min-width: 330px; max-width: 540px;}
.skillmap h3{ background-color: #d5e5fc; color: #3b5bdb; padding: 3% 3% 3% 3%; text-align: center; margin-top: 12%;}
.skillmaptraining h3{ background-color: #feefcf; color: #f9a817; padding: 3% 3% 3% 3%; text-align: center; margin-top: 12%;}
.smcontnt{text-align: justify;padding: 0 9%;}
.smcontnt h5{ color: #23215b; font-family: 'HarmoniaSansW01-Bold'; }
.smcontnt p{ color: #23215b; font-family: 'HarmoniaSansW01-Regular'; }

.img-bg img{width: 190%;}
.img-circle-2{ animation-duration: 3s; animation-name: slidein;}
.img-circle-3{ animation-duration: 5s; animation-name: slidein;}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.containerm { display: flex; flex-wrap: wrap; max-width: 120px; margin: 1vw auto; position: absolute; text-align: center; width: 94vw; left: -10px; top: -10px;}
.product {flex: auto;font-size: 1.5rem;margin: 0 1vw calc(1vw + 5px) 1vw;min-width: calc(25% - 2vw);position: relative;}
.product:before { content: "";float: left;padding-top: 100%;}
.content { background: white;border-radius: 30%; height: 84%;margin: 8%;position: absolute;width: 84%;vertical-align: middle; max-width: 70px; max-height: 70px; z-index: 5000;}
.product:hover .effect-1,.product:hover .effect-2 {display: block;}
.effect-1,.effect-2 { border-radius: 30%;display: none;mix-blend-mode: multiply;height: 84%;opacity: 1;position: absolute; width: 84%; max-width: 70px; max-height: 70px; z-index: 3000;}

.effect-1 { animation: rotate 1.8s linear infinite;background: #4fbfe6;}

.effect-2 { animation: rotate 1.2s linear reverse infinite;background: #f9a817;}

@keyframes rotate {
  0% {
    top: 0;
    left: 8%;
  }
  25% {
    top: 8%;
    left: 0%;
  }
  50% {
    top: 16%;
    left: 8%;
  }
  75% {
    top: 8%;
    left: 16%;
  }
  100% {
    top: 0;
    left: 8%;
  }
}

.exercise {border-radius: 5px; height: 50%; margin: 18%;width: 50%; font-family: 'HarmoniaSansW01-Bold'; color: #4fbfe6;}
.exercise p{margin-top: 50%!important;margin-left: 25%!important;}
.exercise2{ margin:16% 15%}

@media (max-width: 768px) {
    .exercise p{font-size: 1.4em;}
    .exercise2{ margin:25% 25%!important; }
    .smcontnt{ margin-left: 20%!important; } 
}
/* FIN DE SOLUCIONES*/


/* Testimonios*/
.testimonio {background-color: #c1e8f7;text-align: center; position: relative; overflow: hidden;}   
.testimonio  h1{ color: #23215b; z-index: 6; margin-bottom: 3%; font-family: 'HarmoniaSansW01-Bold';}
.testimonio  h3{ color: #f9a817; z-index: 6; padding-top: 5%; font-family: 'HarmoniaSansW01-Bold'; }
.testimonio  span{ color: #23215b; z-index: 6; padding-top: 5%; font-family: 'HarmoniaSansW01-regular'; font-size: 1.5em; height: 20%;}
.comillas{position: absolute; margin: 5% 42.5%;}
.autor{ color: #23215b; font-family: 'HarmoniaSansW01-Regular'; font-size: 1.2em; }
.escuela{ color: #23215b; font-family: 'HarmoniaSansW01-Bold'; font-size: 1.2em; }


@media (max-width: 768px) {
    .testimonio { height: 500px; }
    .comillas{ margin: 15% 25%!important; }
}
/* FIN de Testimonios*/

/* WHY*/
.why6 h3{font-family: 'HarmoniaSansW01-Bold'; color: #23215b; font-size: 2.3em; text-align: center; margin: 5%;}
.whytxt{margin-top: 20%; margin-left: 5%;}
.excercise img{margin-left: -6px; margin-top: -6px;}

@media (max-width: 768px) {
    .why6{ text-align: center; }
    .containerm2{position: relative!important;margin: 0 43%;height: 61%!important;}
    .product{ margin: 0!important }
    .whytxt{margin-top: -45px; margin-left: 5%;}
    .excercise img{margin-left: 0!important; margin-top: 0!important;}
    .excercise2{ background-image: linear-gradient(135deg, #FFF 0%, #fff 0%)!important; }

}


/*FOOTER*/

.div-bottom{ border-bottom: 2px solid #fff; height: 10px; margin-bottom: 15px;  width:100%; display: none;}

@media (max-width: 768px) {
   .div-bottom{ display: block;}
}



/* FIN FOOTER*/



@media (max-width: 995px) {
    .imgmenu{ text-align: center!important; }
    .imgmenu img{ width: 40%!important; }
}

